/* This is for the mobile site*/
* {
 margin: 0;
 padding: 0;
}

body {
background-color:White;
color:black; !important;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
text-align: center;
}

.navbar {
background-color:#B90103;
height: 100px;
width: 100%;
color: white; 
}


#sfdlogotext{
position:absolute;
top: 13px;
left: 130px;
line-height:30px;
letter-spacing: 4px;
font-size: 25px;
}

#sfdlogotextdata{
position:absolute;
top: 45px;
left: 210px;
letter-spacing: 8px;
 font-size: 15px;
}

#dropdown {
height:40px;
width:40px;
position:absolute;
top: 15px;
right: 20px;
}








/* This is for the tablet, and desktop site (we can separate these later if we want to.)*/
@media only screen and (min-width:768px) {
body {
 
 }

 #dropdown {
 display: none;
  }
 

}

