/* This is for the mobile site*/
* {
 margin: 0;
 padding: 0;
}

body {
background-color:White;
color:black;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
text-align: center;
}

.navbar {
position: absolute;
background-color:#B90103;
height: 70px;
width: 100%;
color: white; !important;
}


#sfdlogotext{
left: 60px;
top: -100px;

}

#dropdown {
height:40px;
width:40px;
right: 20px;
top:15px;
}








/* This is for the tablet, and desktop site (we can separate these later if we want to.)*/
@media only screen and (min-width:768px) {
body {
 background-color: blue;
 
 }


}

